body {
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 10px;
}

.center-container {
  text-align: center;
  flex-direction: column;
}

.input-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input{
  width: 100%;
}

.button-container{
  margin-right: 10px;
  display: flex;
  flex-direction:column;
}

.button1{
  margin-right: 2px;
  display: flex;
  align-self: center;
}

.button2{
  margin-left: 2px;
  display: flex;
  align-self: center;
}